.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #ffffff;
}

.mainContent {
    flex: 1;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}